<!DOCTYPE html>

<head>
<link rel="stylesheet" type="text/css" href="/stylesheets/popstyle.css">
</head>
<body>
   <h1> Welcome to Popsicle! </h1>

   <h2> Enter your info to get started: </h2>

   <form method="post">
      First name:
      <input type="text" name="firstname">
      <br>
      Last name:
      <input type="text" name="lastname">
      <br>
      Preferred email:
      <input type="text" name="email" value={{email}}>
      <br>
      <input type="submit" value="Continue">
   </form>
</body>